{% extends "main_template.html" %}

{% block head %}
{{ super() }}
{% endblock %}


{% block nav %}
  {{ super() }}
{% endblock %}
{% block links %}
  <li class="nav-item"><a href="/" class="nav-link link-body-emphasis px-2">Главная</a></li>
  <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2 active" aria-current="page">Каталог</a></li>
  <li class="nav-item"><a href="/contacts" class="nav-link link-body-emphasis px-2">Контакты</a></li>
{% endblock%}
{% block user %}
  {{ super() }}
  <li class="nav-item"><a href="/cart" class="nav-link link-body-emphasis px-2 active">Корзина</a></li>
{% endblock %}

{% block pagename %}Каталог электромобилей в наличии{% endblock %}

{% block header %}{{ super() }}{% endblock %}


{% block main %}
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for car in car_list %}
          <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" src="{{ url_for('static', filename='img/' + car.img)}}" alt="{{car.title}}"></img>
              <div class="card-body">
                <p class="card-text card-name">{{ car.title }}</p>
                <p class="card-text card-price">₽ {{ car.price }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" onclick="addToCart('{{ car.id }}', '{{ id_user }}')" class="btn btn-sm btn-outline-secondary">В корзину</button>
                  </div>
                  {% if user_name == "Admin" %}
                  <div class="btn-group">
                    <a class="btn btn-sm btn-outline-secondary admin-button" href="/edit/{{ car.id }}">Изменить стоимость</a>
                    <a class="btn btn-sm btn-outline-secondary btn-delete admin-button" href="/delete/{{ car.id }}">Удалить</a>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}


{% block footer %}
  {{ super() }}
{% endblock %}