{% extends "main_template.html" %}

{% block head %}
{{ super() }}
{% endblock %}


{% block nav %}
  {{ super() }}
{% endblock %}
{% block links %}
  <li class="nav-item"><a href="/" class="nav-link link-body-emphasis px-2">Главная</a></li>
  <li class="nav-item"><a href="/catalog" class="nav-link link-body-emphasis px-2 active">Каталог</a></li>
  <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2 active" aria-current="page">Контакты</a></li>
{% endblock%}
{% block user %}
  {{ super() }}
  <li class="nav-item"><a href="/cart" class="nav-link link-body-emphasis px-2 active">Корзина</a></li>
{% endblock %}


{% block pagename %}Наши контакты{% endblock %}

{% block header %}{{ super() }}{% endblock %}


{% block main %}

{% endblock %}


{% block footer %}
  {{ super() }}
{% endblock %}